<template>
    <v-row justify='center'>
        <v-col cols='12' sm='8' md='8' lg='6' xl="4" class="order-1 order-sm-0">
            <DayTimeProducts 
                :products='breakfast.products'
                :dayXeTotal='breakfast.xeTotal'
                dayTimeTitle='Завтрак'
                dayTimeKeyword='breakfast' 
            />
            <DayTimeProducts class="mt-2"
                :products='lunch.products'
                :dayXeTotal='lunch.xeTotal'
                dayTimeTitle='Обед'
                dayTimeKeyword='lunch'  
            />
            <DayTimeProducts class="mt-2" 
                :products='dinner.products'
                :dayXeTotal='dinner.xeTotal'
                dayTimeTitle='Ужин'
                dayTimeKeyword='dinner'
            />
            <DayTimeProducts class="mt-2" 
                :products='snack.products'
                :dayXeTotal='snack.xeTotal'
                dayTimeTitle='Перекус'
                dayTimeKeyword='snack'
            />
        </v-col>
        <v-col cols='12' sm='4' md='4' lg='4' xl='2' class="order-0 order-sm-1">
            <v-card>
                <v-list>
                    <v-list-item>
                        <v-list-item-content>
                            <v-list-item-title>XE: <span class="font-weight-black">{{ xeTotal }}</span></v-list-item-title>
                            <v-list-item-title>Углеводы: <span class="font-weight-black">{{ carbTotal }}</span></v-list-item-title>
                            <v-list-item-title>Калории: <span class="font-weight-black">{{ caloriesTotal }}</span></v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
            </v-card>
        </v-col>
    </v-row>
</template>
<script>
import { mapState } from 'vuex'

import DayTimeProducts from '../components/DayTimeProducts'

export default {
    name: 'DayProductsPage',
    data: () => ({}),

    computed: {
        ...mapState('dayCount', ['breakfast', 'lunch', 'dinner', 'snack', 'xeTotal', 'carbTotal', 'caloriesTotal']),
    },

    components: { DayTimeProducts }
}
</script>