<template>
    <v-row justify='center'>
        <v-col cols='12' sm='10' md='10' lg='8' xl="6">
            <v-tabs
                v-model="tab"
                background-color="primary"
                class="elevation-2"
                dark
                grow
                show-arrows
            >
            <v-tabs-slider></v-tabs-slider>

                <v-tab href="#tab-my-products">
                    Мои продукты
                </v-tab>

                <v-tab href="#tab-products">
                    Продукты
                </v-tab>

                <v-tab href="#tab-recipe">
                    Рецепты
                </v-tab>

                <v-tab-item value="tab-my-products">
                    <v-card flat tile>
                        <v-list v-if="userProductsList.length > 0">
                            <template v-for="(userProduct, index) in userProductsList">
                                <product-item 
                                    :key='userProduct.id' 
                                    :name='userProduct.name'
                                    :star='true'
                                    @clickStarHandler='userClickStar(userProduct.id)' 
                                    @clickProductHandler='userClickProduct(userProduct.id)'
                                />
                                <v-divider
                                    v-if="index + 1 < userProductsList.length"
                                    :key="index + '_divider'"
                                ></v-divider>
                            </template>
                        </v-list>
                        <v-card-text v-else>
                            <p class="text-center title">Здесь еще нет продуктов</p>
                        </v-card-text>
                        
                    </v-card>
                </v-tab-item>
                <v-tab-item value="tab-products">
                    <v-card flat tile>
                        <v-text-field class='pr-8 pl-8' placeholder="Поиск">
                        </v-text-field>
                        <v-list>
                            <template v-for="(systemProduct, index) in systemProductsList">
                                <product-item 
                                    :key='systemProduct.id' 
                                    :name='systemProduct.name'
                                    :star='systemProduct.isFeature'
                                    @clickStarHandler='systemClickStar(systemProduct.id)' 
                                    @clickProductHandler='systemClickProduct(systemProduct.id)'
                                />
                                <v-divider
                                    v-if="index + 1 < systemProductsList.length"
                                    :key="index + '_divider'"
                                ></v-divider>
                            </template>
                        </v-list>
                    </v-card>
                </v-tab-item>
                <v-tab-item value="tab-recipe">
                    <v-card flat tile>
                        <v-card-text>
                            <p class="text-center title">Добавьте рецепт</p>
                        </v-card-text>
                    </v-card>
                </v-tab-item>
            </v-tabs>
        </v-col>
    </v-row>
</template>
<script>
import ProductItem from '../components/ProductItem'

export default {
    name: 'ProductSelectorPage',
    data: () => ({
        tab: null,
    }),

    created(){
        let userProductList = []
        let systemProductList = []

        this.$store.commit('product/setUserProducts', {userProductList})
        this.$store.commit('product/setSystemProducts', {systemProductList})

        userProductList = [
            {id: 1, name: 'Молоко 3%', isFeature: true}, 
            {id: 4, name: 'Говядина', isFeature: true}, 
            {id: 6, name: 'Тушеная картошка с мясом', isFeature: true}
        ]
        systemProductList = [
            {id: 1, name: 'Молоко 3%', isFeature: true}, 
            {id: 2, name: 'Котлета по киевски', isFeature: false}, 
            {id: 4, name: 'Говядина', isFeature: true}, 
            {id: 5, name: 'Жареная картошка', isFeature: false},
            {id: 6, name: 'Тушеная картошка с мясом', isFeature: true},
            {id: 7, name: 'Макароны по флотски', isFeature: false},
            {id: 8, name: 'Макароны с сыром', isFeature: false},
            {id: 9, name: 'Пельмени Сибирские', isFeature: false},
            {id: 10, name: 'Пюре', isFeature: false},
            {id: 11, name: 'Шашлык', isFeature: false},
        ]
        this.$store.commit('product/setUserProducts', {userProductList})
        this.$store.commit('product/setSystemProducts', {systemProductList})
        
    },

    methods: {
        userClickProduct(id){
            console.log('prod', id)
        },

        userClickStar(id){
            this.$store.commit('product/changeIsFeatureUserProduct', {id})
            this.$store.commit('serviceState/showSnackbar', {color: 'success', text: 'Продукт был удален из избранного!'})
        },

        systemClickProduct(id){
            console.log('sys_prod', id)
        },

        systemClickStar(id){
            console.log(id)
            this.$store.commit('product/changeIsFeatureSystemProduct', { id })
            this.$store.commit('serviceState/showSnackbar', {color: 'success', text: 'Продукт был добавлен в избранное!'})
        }
    },
    
    computed: {
        userProductsList(){    
            return this.$store.state.product.userProducts
        },

        systemProductsList(){    
            return this.$store.state.product.systemProducts
        },
    },

    components: { ProductItem }
}
</script>