<template>
    <v-card>
        <v-card-title>
            <v-btn class="mx-2" fab color="primary" width="30" height="30" small elevation="0" to="/product_selector">
                <v-icon dark>mdi-plus</v-icon>
            </v-btn>
            <span class="title font-weight-light">{{ dayTimeTitle }}</span>
            
        </v-card-title>
        <v-card-text>
            <v-list two-line flat dense v-if="products.length > 0">
                <v-list-item v-for="(item, i) in products" :key="i">
                    <v-list-item-content>
                        <v-list-item-title v-text="item.name"></v-list-item-title>
                        <v-list-item-subtitle v-text="item.xeCount"></v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
            <v-list flat dense>
                <v-list-item :key="dayTimeKeyword">
                    <v-list-item-content>
                        <v-list-item-title>Продукты еще не добавлены</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-card-text>
    </v-card>
</template>
<script>
export default {
    name: 'DayTimeProducts',
    data: () => ({}),
    props: ['products', 'dayXeTotal', 'dayTimeTitle', 'dayTimeKeyword']
};
</script>