<template>
    <v-list-item>
        <v-list-item-content @click="clickProduct">
            <v-list-item-title>{{ name }}</v-list-item-title>
        </v-list-item-content>

        <v-list-item-action>
            <v-btn icon @click="clickStar">
                <v-icon :color="isFeature">mdi-star</v-icon>
            </v-btn>
        </v-list-item-action>
    </v-list-item>                      
</template>
<script>
export default {
    name: 'ProductItem',
    data: () => ({}),
    props: ['name', 'star', 'clickStarHandler', 'clickProductHandler'],
    methods: {
        clickStar() {
            this.$emit('clickStarHandler');
        },

        clickProduct() {
            this.$emit('clickProductHandler');
        }
    },
    computed: {
        isFeature(){
            if (this.star){
                return 'secondary'
            }else{
                return ''
            }
        }
    }
};
</script>