<template>
  <v-app id="inspire">
    <v-navigation-drawer
      v-model="drawer"
      app
      absolute
      temporary
    >
      <v-list dense>
        <v-list-item to="/">
          <v-list-item-action>
            <v-icon>mdi-receipt</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Главная</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      app
      clipped-left
      class="primary"
      dark
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>XeCalc</v-toolbar-title>
    </v-app-bar>

    <v-content app>
      <v-container>
        <router-view></router-view>
      </v-container>
    </v-content>

    <v-snackbar
      :value="snackbarGlobal.show"
      :color="snackbarGlobal.color"
      :timeout="6000"
    >
      {{ snackbarGlobal.text }}
      <v-btn
        dark
        text
        @click="$store.commit('serviceState/hideSnackbar')"
      >
      Закрыть
      </v-btn>
    </v-snackbar>

    <v-footer app>
      <span>&copy; 2019</span>
    </v-footer>
  </v-app>
</template>

<script>

export default {

  data: () => ({
    drawer: null,
  }),

  created () {
    this.$vuetify.theme.dark = false
  },

  computed: {
    snackbarGlobal(){    
      return this.$store.state.serviceState.snackbarGlobal
    }
  },
}
</script>